/* interfacePc.css */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .canvas {
    background: radial-gradient(circle, rgba(34, 34, 34, 1) 0%, rgba(0, 0, 0, 1) 100%);
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-screen {
    height: 100vh;
  }
  